<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>MultiPlayer Snake</title>
</head>
<style>
  
</style>
<body>
  <section class="vh-100">
    <div class="container h-100">
      <div id="gameScreen" class="h-100">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
          <canvas id="canvas" style="border: 1px solid #000000;">
         
        </div>
      </div>

    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="jogoio.js"></script>
  
</body>
</html>